$primary-500: rgba(0, 143, 193, 1);
$primary-900: rgb(83, 208, 253);
$secondary-500: rgb(64, 64, 64);
$tertiary-500: rgb(245, 251, 253);
$rating: rgb(255, 214, 0);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$danger: rgb(255, 51, 51)
