# Application
# web/app/plugins/*
# !web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfour/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess
temp_auto_push.bat

# Logs
*.log

# Dotenv
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
.gitignore
temp_interactive_push.bat
branch_structure.json
config.bat
node_modules
